.article-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;


}


.auteur {
  background-color: $Lynch;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 800px;


  .profil-image-auteur {


  }


}

.textearticle {
  width: 700px;
  height: 400px;

}

.auteur2 {
  background-color: $Bermuda-Gray;
  width: 350px;
  height: 614px;

}