//-------------------------------LittleSnippets#1477--------------------//
.article {
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background-color: $Bermuda-Gray;

  h3 {
    color: $Lynch;
  }

}

article * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}


.hover-article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1200px;
}

.article img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  width: 320px;
}

.article figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.article h3,
.article p {
  margin: 0;
}

.article h3 {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.article p {
  width: 300px;
  padding: 10px 10px 0 0;
  margin: 0 10px 0;

}

.article a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.article:hover > img,
.article.hover > img {
  opacity: 0.2;
}

.article:hover figcaption,
.article.hover figcaption {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


//------------------------LittleSnippets.net------#1575--------//
.lireplus {
  text-align: center;
  cursor: pointer;
  padding: 10px 40px;
  margin: 15px 30px;
  outline: $Anthens-Gray;
  position: relative;
  border: 3px solid $Anthens-Gray;
  background-color: transparent;
  border-radius: 0 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}

.lireplus:hover,
.lireplus:hover {
  text-decoration: none;
  border-color: $Big-Stone;
  background-color: $Lynch;
  color: $Anthens-Gray;
}

.lireplus:before {
  content: "";
  position: absolute;
  right: -3px;
  top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 35px 35px 0;
  border-color: transparent $Big-Stone transparent transparent;
  z-index: 1;
  text-decoration: none;
}

.texte-auteur {
  text-align: center;
  font-weight: $fw-extra-light;

}

.titre-article {
  font-weight: $fw-bold;


}

.date {
  text-align: center;
  font-weight: $fw-light;

}

.texte {
  text-align: center;
  font-weight: $fw-light;
}


@media screen and (min-width: $vw-medium) {


}





@media screen and (min-width: $vw-large) {
  .hover-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

  }


  .article {
    justify-content: center;
    flex-wrap: wrap;


  }


}



