footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $Big-Stone;
  color: $Bermuda-Gray;
}

footer i {
  color: $Bermuda-Gray;
}

footer i:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: $Anthens-Gray;
}

html {
  scroll-behavior: smooth;

}
