.formulaire-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  input {
    font-family: $ff-Ps;
  }

}


@media screen and (min-width: $vw-large) {
  .formulaire-inscription {
    display: flex;


    ol {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    li {
      padding: 20px;
    }

    button {
      right: 200px

    }

  }


}

