.login-container {
  padding: 20px;
  position: absolute;
  z-index: 100;

}

header {
  background: $Big-Stone;
  border-radius: 10px;
  margin: 20px;
  padding: 0 10px;
  text-align: center;
  color: $Anthens-Gray;
}

header h2 {
  text-align: center;
  font-family: $ff-Ps;
}

form {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $Bermuda-Gray;
  padding: 20px;
  border-radius: 10px;

  ol {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 10px;
  }

  label {
    left: 20px;
    padding: 10px 0 0 0;
  }

  input {
    color: $Big-Stone;

  }

  button {
    cursor: pointer;
    padding: 10px 40px;
    margin: 15px 30px;
    outline: $Anthens-Gray;
    position: relative;
    border: 3px solid $Anthens-Gray;
    background-color: transparent;
    border-radius: 0 15px 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  button:hover {
    border-color: $Big-Stone;
    background-color: $Lynch;
    color: $Anthens-Gray;
  }

  button:before {
    content: "";
    position: absolute;
    right: -3px;
    top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent $Big-Stone transparent transparent;
    z-index: 1;
  }
}

@media screen and (min-width: $vw-medium) {

  input {
    width: 447px;
    height: 45px;

  }
  button {
    left: 122px;
  }


}

.login-container-block {
  display: block;
}

.login-container-none {
  display: none;
}

@media screen and (min-width: $vw-large) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

  }

  header {
    height: 89px;
  }

  input {
    width: 447px;
    height: 45px;

  }


  button {
    left: 122px;
  }


}