.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $Big-Stone;
  padding: 0 10px;


  ul {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  //--------------------------Littlesnipets.net#1555------------------->
  li {
    display: inline-block;
    list-style: outside none none;
    margin-left: 20px;
    list-style-type: none;
    padding: 30px 50px;
    position: relative;
  }

  li:before,
  li:after {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    height: 2px;
    width: 35%;
    background-color: $Anthens-Gray;
    position: absolute;
    content: '';
    opacity: 0;
  }

  li:before {
    top: 0;
    left: 0;
  }

  li:after {
    bottom: 0;
    right: 0;
  }

  li:hover:before,
  li.hover:before,
  li:hover:after,
  li.hover:after {
    opacity: 1;
  }

  li:hover:before,
  li.hover:before {
    left: 65%;
  }

  li:hover:after,
  li.hover:after {
    right: 65%;
  }

  a {
    color: $Bermuda-Gray;
    text-decoration: none;
  }

  .login {
    display: flex;
  }

  .categorie ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $Big-Stone;
    border-radius: 20px;


  }


  .categorie li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.nav-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-menu {
  display: flex;
  padding: 10px;
}

.show-menu {
  color: $Anthens-Gray;
}



nav {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.toggle-menu {
  display: none;
}

.toggle-menu:checked + ul {
  display: block;
}

ul.main-menu {
  display: none;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;


  li:hover {
    background-color: lighten($Big-Stone, 25%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
  }

  li:hover ul {
    display: block;
  }

  li ul {
    display: none;

    list-style: none;
    padding: 0;
  }

  .header-page {

  }

}


a {
  display: block;
  padding: 10px;
}


@media screen and (min-width: $vw-large) {
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }

    .toggle-menu:checked + ul {
      display: flex;
    }


    .show-menu {
      display: none;
    }
  }



}

