.article-description {
.info-profil {
  font-family: $ff-Ps;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {

    display: flex;
    justify-content: flex-start;
    list-style: none;

  }


  .button {
    right: 500px;
  }

  .img-profil img {
    width: 150px;
    height: 150px;
  }
}

}