.login-container {
  position: absolute;
  left: 200px;
  border: 10px solid $Big-Stone;
  border-radius: 10px;
}


@media screen and (min-width: $vw-large) {
  .login-container {
    left: 400px;

  }


}
